<header class="row banner-row">
    <div class="three columns">
        <h1 class="logo u-pull-left">
            <a class="logo__link" rel="home" href="/">
                <svg class="logo__img">
                    <title>.NET South East</title>
                    <use xlink:href="#dotnetse_logo" />
                </svg>
            </a>
        </h1>
    </div>
    <div class="nine columns">
        <a href="#offcanvas" class="smallscreen-menu-button js-smallscreen-menu--toggle" aria-hidden="true">Menu</a> {% include
        navigation.html %}
    </div>
</header>