<div class="band band--highlight">
    <div class="container">
    <div class="row u-row--flex">
        <div class="eight columns">
        <h2>Interested? Come along!</h2>
        <p>If your a developer in Brighton or the South East and would be intersted in attending or speaking at an event, please join up to be notified and help us to gague the interest for this group.</p>
        <p>
            <a href="https://www.meetup.com/dotnetsoutheast/" target="_blank" rel="noopener" class="button button-primary">
                Join our meetup group <svg class="icon"><use xlink:href="#icon-newtab" /></svg>
            </a>
        </p>
        </div>
        <div class="four columns u-text-right u-row--vert-center">
            <svg class=""><use xlink:href="#meetup-logo" /></svg>
        </div>
    </div>
    </div>
</div>