<!DOCTYPE html>
<html lang="en-gb">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="preload" href="/assets/fonts/museo-sans-300.woff2" as="font" crossorigin="true" />
  <link rel="preload" href="/assets/fonts/museo-sans-500.woff2" as="font" crossorigin="true" />

  <link rel="stylesheet" href="/assets/css/main.css" />

  <link rel="shortcut icon" href="/icon.png">
  <link rel="apple-touch-icon-precomposed" href="/icon.png">
  <link rel="canonical" href="{{ site.url }}{{ page.url | remove:" index.html " | remove:".html " }}"/>
  {% if page.path contains ".markdown" %}
  <meta property="og:title" content="{{ page.title | xml_escape | smartify }}" />
  <meta property="og:description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines }}" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  {% if page.image.src %}
  <meta property="og:image" content="{{ site.url }}/image/640x360/100q/{{ page.image.src }}" />
  <meta name="twitter:card" content="summary_large_image" />
  {% else %}
  <meta property="og:image" content="{{ site.url }}/images/icon.png" />
  <meta name="twitter:card" content="summary" />
  {% endif %}
  <meta name="twitter:site" content="@dotnetsoutheast" />
  {% endif %}
  <title>{% if page.title != nil %}{{ page.title | smartify }} / {% endif %}{{ site.title }}</title>
</head>

<body>
  <div class="band band--groovy">
    <div class="container">
      {% include banner.html %} {% if page.url == '/' %}
      <hr>
      <div class="row bg-seagulls">
        <div class="eight columns">
          <h1>.NET South East is a new .NET and C# meetup group in Brighton, UK.</h1>
          <p>If you're a .NET developer, come and join us in learning about .NET and related technologies from expert speakers
            and enthusiasts.</p>
          <p>
            <a href="https://www.meetup.com/dotnetsoutheast/" class="button button-primary">
              <svg class="icon">
                <use xlink:href="#icon-calendar" />
              </svg>
              View next meetup
            </a>
          </p>
        </div>
        <div class="four columns"></div>
      </div>
      {% endif %}
    </div>
  </div>

  <main role="main">
    {{ content }}
  </main>

  {% include footer.html %}

  <!-- SVG Sprite -->
  {% include sprite.symbol.svg %}

</body>

</html>
